/* ---------- Body ---------- */

body
{
	background:white;
	margin-top: 3em;
	margin-bottom: 3em;
	margin-left: 7em;
	margin-right: 7em;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	line-height: 1.4em;
	font-size: small;
}

/* ---------- Links ---------- */

a
{
	text-decoration:none;
	border:0px;
}

a:link
{
	border-bottom:1px dotted #AAA;
	color:#444;
}

a:visited
{
	border-bottom:1px dotted #AAA;
	color:#444;
}

a:hover
{
	border-bottom:1px solid black;
	color:#444;
}

/* ---------- Lists ---------- */

ul
{
    padding-left: 2em;
    padding-right: 2em;
}

li
{
    list-style: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

/* ---------- Headings ---------- */

h1
{
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 22px;
	text-align: center;
}

h2
{
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	text-align: center;
}

h3
{
	text-transform: uppercase;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-top: 2em;
}

/* ---------- Sections ---------- */

.header
{
    padding-top: 1em;
    margin-bottom: 2em;
    border-top: 1px solid black;
}

.description
{
    text-align: justify;
    padding-left: 7em;
    padding-right: 7em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
